---
- name: copy tomcat_user file into nodes
  template:
      src:  templates/mytomuser.j2
      dest: /opt/tomcat/conf/tomcat-users.xml

- name: copy context file into nodes
  template:
       src: templates/mytomcontext.j2
       dest: /opt/tomcat/webapps/manager/META-INF/context.xml
 
- name: copy host context file into nodes
  template:
      src: templates/mytomhostcontext.j2
      dest: /opt/tomcat/webapps/manager/META-INF/context.xml